<!DOCTYPE html>
<html lang="en" ng-app="formvalidation">
<head>
<meta charset="utf-8">
<title>AngularJS Form Validation</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<style type="text/css">
.errortext {
  color: red;
}
</style>
<script>
var app = angular.module('formvalidation', []);
app.controller('cntform', function ($scope) {
  $scope.valid = false;
  $scope.submit = function () {
    if ($scope.myForm.$valid) {
      $scope.valid = true;
    }
  };
  $scope.close = function () {
    $scope.valid = false;
  };
});
</script>
<style>
body {
  color: #fff;
  background-image: url(https://cdn.pixabay.com/photo/2013/10/02/23/03/mountains-190055_1280.jpg);
  background-repeat: no-repeat;
  background-size: 1450px 725px;
  font-family: 'Roboto', sans-serif;
}
.form-control{
  height: 40px;
  box-shadow: none;
  color: #000000;
}
.form-control:focus{
  border-color: #5cb85c;
}
.form-control, .btn{
  border-radius: 3px;
}
.signup-form{
  width: 400px;
  margin: 0 auto;
  padding: 30px 0;
}
.signup-form h2{
  color: white;
  margin: 0 0 15px;
  position: relative;
  text-align: center;
}
.signup-form h2:before, .signup-form h2:after{
  content: "";
  height: 2px;
  width: 30%;
  background: white;
  position: absolute;
  top: 50%;
  z-index: 2;
}
.signup-form h2:before{
  left: 0;
}
.signup-form h2:after{
  right: 0;
}
.signup-form .hint-text{
  color: white;
  margin-bottom: 30px;
  text-align: center;
}
.signup-form form{
  color: white;
  border-radius: 3px;
  margin-bottom: 15px;
  background: transparent;
  border: solid white;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}
.signup-form .form-group{
  margin-bottom: 20px;
}
.signup-form input[type="checkbox"]{
  margin-top: 3px;
}
.signup-form .btn{
  font-size: 16px;
  font-weight: bold;
  min-width: 140px;
  outline: none !important;
}
.signup-form .row div:first-child{
  padding-right: 10px;
}
.signup-form .row div:last-child{
  padding-left: 10px;
}
.signup-form a{
  color: #fff;
  text-decoration: underline;
}
.signup-form a:hover{
  text-decoration: none;
}
.signup-form form a{
  color: #5cb85c;
  text-decoration: none;
}
.signup-form form a:hover{
  text-decoration: underline;
}
</style>
</head>
<body ng-controller="cntform">
<div class="signup-form">
  <form name="myForm" action="/register" method="POST" novalidate ng-submit="submit()">
    <h2>Register</h2>
    <p class="hint-text">Create your account and get exciting offers...!</p>
    <div class="form-group">
      <input type="text" class="form-control" name="username" placeholder="Username" ng-model="user.username" ng-minlength="3" ng-maxlength="30" required autofocus>
      <div class="errortext" ng-show="myForm.username.$error.required && (myForm.username.$touched || myForm.$submitted)">Username is required</div>
      <div class="errortext" ng-show="myForm.username.$error.minlength && (myForm.username.$touched || myForm.$submitted)">Username must be at least 3 characters</div>
      <div class="errortext" ng-show="myForm.username.$error.maxlength && (myForm.username.$touched || myForm.$submitted)">Username must not exceed 30 characters</div>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="firstname" placeholder="Firstname" ng-model="user.firstname" required>
      <div class="errortext" ng-show="myForm.firstname.$error.required && (myForm.firstname.$touched || myForm.$submitted)">Firstname is required</div>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="lastname" placeholder="Lastname" ng-model="user.lastname" required>
      <div class="errortext" ng-show="myForm.lastname.$error.required && (myForm.lastname.$touched || myForm.$submitted)">Lastname is required</div>
    </div>
    <div class="form-group">
      <input type="email" class="form-control" name="email" placeholder="Email" ng-model="user.email" required>
      <div class="errortext" ng-show="myForm.email.$error.required && (myForm.email.$touched || myForm.$submitted)">Email is required</div>
      <div class="errortext" ng-show="myForm.email.$error.email && (myForm.email.$touched || myForm.$submitted)">Invalid email format</div>
    </div>
    <div class="form-group">
      <input type="password" class="form-control" name="password" placeholder="Password" ng-model="user.password" required>
      <div class="errortext" ng-show="myForm.password.$error.required && (myForm.password.$touched || myForm.$submitted)">Password is required</div>
    </div>
    <div class="form-group">
      <input type="password" class="form-control" name="repassword" placeholder="Re-type Password" ng-model="user.repassword" required>
      <div class="errortext" ng-show="myForm.repassword.$error.required && (myForm.repassword.$touched || myForm.$submitted)">Re-type password is required</div>
      <div class="errortext" ng-show="(myForm.repassword.$touched || myForm.$submitted) && user.repassword != user.password">Passwords do not match</div>
    </div>
    <div class="form-group">
      <label class="checkbox-inline"><input type="checkbox" name="terms" ng-model="user.terms" required>I accept the <a href="#">Terms of Use</a> & <a href="#">Privacy Policy</a></label>
      <div class="errortext" ng-show="myForm.terms.$error.required && (myForm.terms.$touched || myForm.$submitted)">You must accept the terms</div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-success btn-lg btn-block" ng-disabled="myForm.$invalid"><span class="glyphicon glyphicon-check"></span> Register Now</button>
    </div>
    <div class="alert alert-success text-center" ng-show="valid">
      <button type="button" class="close" ng-click="close()"><span aria-hidden="true">×</span></button>
      <span class="glyphicon glyphicon-check"></span> Form Validated
    </div>
  </form>
  <div class="text-center">Already have an account? <a href="/login">Sign in</a></div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>